.interview {
    margin-bottom: rem(100);
    max-width: rem(650);
}

.interview__title {
    @include font-size('l');
    @include sans-italic;

    border-bottom: $border;
    margin-bottom: spacing('xl');
    padding-bottom: rem(9);
}

.is-pink-mode .interview__title {
    color: color('white');
}
