// kss builder styles
@import 'builder/kss-assets/_kss';


// app styles, plus skins in case they aren't included in screen
@import '../_1_base/_mixins';

@import '../_1_base/_vars';

@import '../_1_base/_skins';


@import '../screen';


// specific styles for the styleguide go here
.spsg-color {
    height: 150px;
    width: 100%;
}

.spsg-color.bg- {
    display: none;
}




.spsg-font {
    font-size: 1.5em;
    line-height: 1.5;
    white-space: nowrap;
}

.spsg-font--large {
    font-size: 4em;
    line-height: 1;
}

.spsg-font--small {
    font-size: 1em;
}

.spsg-font-- {
    display: none;
}

.spsg-font--sans {
    @include sans;
}

.spsg-font--sans-bold {
    @include sans-bold;
}

.spsg-font--serif {
    @include serif;
}

.spsg-font--serif-bold {
    @include serif-bold;
}




// font size classes
@each $size, $val in $font-sizes {
    .fs-#{$size} { @include font-size($size); }
}

.spsg-font-size.fs- {
    display: none;
}




.spsg-arrow {
    background-color: #ddd;
    height: 200px;
    width: 200px;
}

.spsg-arrow + .spsg-arrow {
    margin-top: 75px;
}

.spsg-arrow--simple {
    @include arrow(bottom, #ddd);
}

.spsg-arrow--complex {
    @include arrow(right, #ddd, medium, bottom, 5%);
}

.spsg-arrow--bordered {
    border: 4px solid #000;
    border-radius: 6px;

    @include arrow(top, #ddd, 18px, right, 6px, #000, 4px);
}
