// Clearfix
//
// Make sure containers clear their child element floats.
//
// This version of the clearfix from:
// http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
//
// Acknowledgements:
// * Micro clearfix: [Nicolas Gallagher](http://nicolasgallagher.com/micro-clearfix-hack/)
//
// ```
// .wrapper {
//      @include clearfix;
// }
//
// .wrapper .sidebar {
//      float: right;
// }
//
// ```
//
// Style guide: mixins.clearfix

@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}
