// ==========================================================================
// Colors
// ==========================================================================
/* stylelint-disable */
$plyr-color-main: color('pink') !default;
$plyr-color-gunmetal: #2F343D !default;
$plyr-color-fiord: #4F5B5F !default;
$plyr-color-lynch: #6B7D85 !default;
$plyr-color-heather: #B7C5CD !default;
