<a href="#main" class="skipnav" role="button">skip to content</a>

<header role="banner">
    <div class="container">
        <div class="banner__wrapper">
            <a href="{{ site.baseurl }}/" class="branding">
                <!-- .branding__logo here -->
                {% if page.layout == 'page-home' %}
                <h1 class="branding__wordmark">{{ site.title }}</h1>
                {% else %}
                <div class="branding__wordmark">{{ site.title }}</div>
                {% endif %}
            </a>

            {% comment %} <input type="checkbox" id="menu-toggle" class="checkbox-toggle js-checkbox-toggle" tabindex="0" data-html-toggle="menu-active"></input>
            <label for="menu-toggle" class="site-nav__btn burger">
                <span class="burger__inner"></span>
                Toggle Main Navigation
            </label> {% endcomment %}
            <nav class="site-nav" role="navigation">
                <ul class="site-nav__list">
                    <li><a href="/about/"{% if page.url contains "/about/" %} class="is-active"{% endif %}>about</a></li>
                    <li><a href="/journal/"{% if page.url contains "/journal/" %} class="is-active"{% endif %}>Journal</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
