//
//   @heroes
// --------------------------------------------------------
//  _4_modules/_heroes.scss
// --------------------------------------------------------
//
//  Just your everyday, normal hero.  Contains a div that has
//  the media (video or image) in the background, and a div
//  for the main content.
//
// --------------------------------------------------------
//
//  Example: Hero
//  <div class="hero">
//    <div class="hero__main"><h1>Hello, there</h1></div>
//    <div class="hero__media"><img src="http://fillmurray.com/1000/400"></div>
//  </div>
//
// --------------------------------------------------------
.hero {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    min-height: 60vh;
    position: relative;

    @media #{query('m')} {
        flex-wrap: nowrap;
    }
}

.hero .container {
    position: relative;
}

.hero__media {
    position: relative;
    z-index: 1;
}

.hero__main {
    color: color('white');
    left: 0;
    padding-top: 20.5%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.hero__img {
    flex: 1 1 100%;
    order: 1;
    position: relative;
    transform: translateX(-5%);

    @media #{query('m')} {
        flex: 1 1 40%;
        order: 0;
    }
}

.hero__aside {
    flex: 1 1 100%;
    order: 0;

    @media #{query('m')} {
        flex: 1 1 60%;
        order: 1;
    }
}

.hero__content {
    margin: 0 auto;
    max-width: rem(500);
}

.hero__title {
    @include font-size('xxl');

    text-transform: uppercase;
}

.hero__text {
    @include font-size('s');

    text-transform: uppercase;
}
