//
//   @page-header
// --------------------------------------------------------
//  _5_sections/_page-header.scss
// --------------------------------------------------------
//
//  The header for individual page titles. This typically goes below
//  the site header.
//
// --------------------------------------------------------
.page-title {
    @include font-size('xxl');
    @include sans-italic;

    border-bottom: $border;
    color: color('pink');
    margin-bottom: spacing('xxl');
    padding-bottom: rem(3);
    text-transform: uppercase;
}
