//
//   @sections
// --------------------------------------------------------
//  _5_sections/_sections.scss
// --------------------------------------------------------
//
//  Individual horizontal chunks of the page. These styles
//  are good for shared heading, vertical spacing between
//  modules, and background colors. Pairs really well with
//  .containers (to control horizontal spacing).
//
// --------------------------------------------------------
.section {
    padding: #{$gutter * 3} 0;
}

.section--large {
    padding: #{$gutter * 6} 0;
}

.section--flush {
    padding: 0;
}

.section--flush-top {
    padding-top: 0;
}

.section--medium {
    padding: $gutter 0;
}

.section--black {
    background-color: color('black');
    color: color('white');
}

main .section:first-child {
    padding-top: 0;
}

//   @Section Titles
// --------------------------------------------------------
//  Section titles are used in a consistent manner through
//  the design. If these vary too much from the standard,
//  they should be part of individual modules.
// --------------------------------------------------------
// .section__title {

// }

//   @Section Text
// --------------------------------------------------------
//  Introductory text for sections
// --------------------------------------------------------
// .section__description {

// }
