//
//   @site-document
// --------------------------------------------------------
//  _5_sections/_site-document.scss
// --------------------------------------------------------
//
//  Main HTML structure & styles
//  Main body structure & styles
//
// --------------------------------------------------------

//   @HTML
// --------------------------------------------------------
//
//  HTML should contain the site's default background color
//  and font-size
//
// --------------------------------------------------------
html {
    background: $body-color;
    min-height: 100%;
}

//   @body
// --------------------------------------------------------
//
//  Body should contain the document's default font and
//  background color for the content, if that background
//  color is different than the html.
//
// --------------------------------------------------------
body {
    @include sans;

    background: $body-color;
    color: $text-color;
    font-size: em($base-font-size, 16);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: $base-line-height;
    margin: 0;
    min-height: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

// generated content to help with js media query detection
// read https://adactio.com/journal/5429 for more
body::after {
    display: none;
}

@each $breakpoint, $val in $breakpoints {
    @media #{query($breakpoint, 'max')} {
        body::after {
            content: '#{$breakpoint}';
        }
    }
}
