---
layout: default
---

<section class="section">
    <video controls crossorigin playsinline poster="{{ page.video_image }}" id="player" class="video-home">
                <!-- Video files -->
                <source src="{{ page.video_url }}" type="video/mp4" size="576">

                <!-- Fallback for browsers that don't support the <video> element -->
                <a href="{{ page.video_url }}" download>Download</a>
        </video>
        <div class="hero">
            <div class="hero__img">
                <img src="{{ page.hero_image}}" alt="">
            </div>
            <div class="hero__aside">
                <div class="container">
                    <div class="hero__content">
                        <div class="box-content">
                            <h3 class="box-content__title">project:</h3>
                            <h2 class="hero__title">{{ page.hero_title }}</h2>
                        </div>

                        <div class="box-content box-content--no-top">
                            <h3 class="box-content__title">summary:</h3>
                            <div class="hero__text">
                                {{ page.hero_text }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<script src="https://cdn.plyr.io/3.3.22/plyr.js"></script>
