---
layout: default
---

<article class="section">
    <div class="container">
        <div class="grid grid--interview">
            <div class="grid__item">
                <aside>
                    <div class="box-content">
                        <p class="box-content__title">
                        date:
                        </p>
                        <p>{{ page.date | date: '%B %d, %Y' }}</p>
                    </div>
                    <div class="box-content box-content--no-top">
                        <p class="box-content__title">
                        author:
                        </p>
                        <p>{{ page.author}}</p>
                    </div>
                    <div class="box-content box-content--no-top">
                        <p class="box-content__title">
                        art preview:
                        </p>
                        <a href="">
                            <img src="{{ page.image }}" alt="">
                        </a>
                    </div>
                </aside>
            </div>
            <div class="grid__item">
                <p class="box-content__title">
                title:
                </p>
                <h2 class="page-title">{{ page.title }}</h2>

                {{ content | markdownify | smartify }}

            </div>
        </div>
    </div>
</article>
