<a href="#" class="btn {{modifier_class}}" title="example">Anchor Button</a>
<br><br>
<button class="{{modifier_class}}">Button Button</button>
<br><br>
<input type="submit" role="button" value="Input Button" class="{{modifier_class}}">
